footer{

    margin-top:120px;

    background:var(--surface);

    border-top:1px solid var(--border);

}

.footer-top{

    display:flex;

    justify-content:space-between;

    gap:100px;

    padding:70px 0;

}

.footer-brand{

    width:380px;

}

.footer-brand h2{

    color:var(--primary);

    margin-bottom:20px;

}

.footer-brand p{

    color:var(--text-muted);

    line-height:1.8;

}

.footer-links{

    display:flex;

    gap:90px;

}

.footer-links div{

    display:flex;

    flex-direction:column;

    gap:15px;

}

.footer-links h3{

    color:white;

    margin-bottom:12px;

}

.footer-links a{

    color:var(--text-muted);

    transition:.3s;

}

.footer-links a:hover{

    color:var(--primary);

}

.footer-bottom{

    border-top:1px solid var(--border);

    padding:25px 0;

    text-align:center;

}

.footer-bottom p{

    color:var(--text-muted);

}