/* =========================================
   CUSTOMER LAYOUT
========================================= */


.customer-layout {

    width:100%;

    min-height:100vh;

    display:block;

}



/* =========================================
   BELOW NAVBAR
========================================= */


.customer-body {

    width:100%;

    display:flex;

    align-items:stretch;

    min-height:calc(100vh - 82px);

}



/* =========================================
   CONTENT
========================================= */


.customer-content {

    flex:1;

    min-width:0;

    padding:32px;

    box-sizing:border-box;

}



/* =========================================
   TABLET
========================================= */


@media(max-width:1024px){


    .customer-content {

        padding:24px;

    }


}



/* =========================================
   MOBILE
========================================= */


@media(max-width:768px){


    .customer-body {

        flex-direction:column;

    }


    .customer-content {

        padding:16px;

    }


}