.chat-message {

    display:flex;

    width:100%;

}



.chat-message.customer {

    justify-content:flex-end;

}



.chat-message.seller {

    justify-content:flex-start;

}





.message-bubble {

    max-width:65%;

    padding:12px 15px;

    border-radius:18px;

    background:var(--surface-light);

    border:1px solid var(--border);

}



.customer .message-bubble {

    background:var(--primary);

    color:white;

    border-bottom-right-radius:5px;

}



.seller .message-bubble {

    border-bottom-left-radius:5px;

}




.message-bubble p {

    margin:0;

    color:inherit;

    line-height:1.6;

    word-break:break-word;

}





.message-footer {

    margin-top:8px;

    display:flex;

    justify-content:flex-end;

    align-items:center;

    gap:5px;

    font-size:11px;

    opacity:.7;

}




.message-image {

    margin-top:10px;

    max-width:250px;

    border-radius:12px;

}




.message-file {

    margin-top:10px;

    display:flex;

    align-items:center;

    gap:8px;

    color:inherit;

    font-size:14px;

}